<div class="mb-5 pt-3">
    <form class="form new-post-form">
      <h1 class="h3 mb-3 font-weight-normal">Create a post:</h1>
      <label for="post-name" class="sr-only">Post title</label>
      <input type="text" name="post-name" id="post-name" class="form-control mb-3" placeholder="Title" required>
      <label for="post-desc" class="sr-only">Description</label>
      <textarea type="textarea" name="post-desc" id="post-desc" class="form-control mb-3" placeholder="Description" required></textarea>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
  </div>
  
  <div class="row mt-4">
    <div class="col post-list">
      <h2>Your posts</h2>
    </div>
    {{#if posts.length}}
  </div>

    {{#each posts as |post|}}
    <div class="row mt-4">
      <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
    </div>
    <div class="mt-3">
      <p>{{post.description}}</p>
      <p>{{format_date date_created}}</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-sm btn-warning" href="/edit/{{post.id}}">Edit</a>
      <button class="btn btn-sm btn-danger deleteBtn" data-id="{{post.id}}">Delete</button>
    </div>
    {{/each}}
    
  
  {{else}}
  <div class="row">
    <p class="font-italic">No posts have been created</p>
  </div>


  {{/if}}


<script src="/js/dashboard.js"></script>

