<div class="mb-5 pt-3">
    <form class="form new-post-form">
      <h1 class="h3 mb-3 font-weight-normal">Create a post:</h1>
      <label for="post-name" class="sr-only">Post title</label>
      <input type="text" id="post-name" class="form-control mb-3" placeholder="Title" required>
      <label for="post-desc" class="sr-only">Description</label>
      <textarea type="textarea" id="post-desc" class="form-control mb-3" placeholder="Description" required></textarea>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
  </div>
  
  <div class="row">
    <h2 class="title pb-4">Your posts</h2><hr>
    {{#if posts.length}}
  </div>

    {{#each posts as |post|}}
    <h4><a href="/posts/{{post.id}}">{{post.name}}</a></h4>
        <p>{{post.description}}</p>
        
            <a href="/dashboard/edit/{{post.id}}"><button class="btn mb-5 ml-5 btn-primary" type="submit">Edit post</button></a>
            <a href="/dashboard/delete/{{post.id}}"><button class="btn mb-5 ml-5 btn-primary" type="submit">Delete post</button></a>
        </div>
    {{/each}}
    
  
  {{else}}
<h6 class="pb-4 has-text-centered is-italic">You do not currently have any posts</h6>

  {{/if}}


<script src="./js/dashboard.js"></script>